<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTutorial"
        tools:targetApi="31">
        <activity
            android:name=".demoroom.MainWorkActivity"
            android:exported="true" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".service.MusicBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.SmsSenderService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.DownloadStopReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.eco.musicplayer.STOP_DOWNLOAD" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".service.MainServiceActivity"
            android:exported="false" />

        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".layout.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.UnlockActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.PaywallFullActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.PaywallBottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.DialogYearlyActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.PaywallSaleActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.DialogWeeklyActivity"
            android:exported="false" />
        <activity
            android:name=".paywall.PaywallOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".layout.DemoAdvertisementActivity"
            android:exported="false" />
        <activity
            android:name=".layout.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".eventbus.MainEventActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".paywall.PaywallActivity"
            android:exported="false" />
        <activity
            android:name=".launchmode.IntentFlagActivity"
            android:exported="false" />
        <activity
            android:name=".launchmode.SingleInstanceActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".launchmode.SingleTaskActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmode.SingleTopActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmode.StandardActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>